/* IMPORT DE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
/* font-family: 'Roboto' */
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Lato:wght@100;300;700&display=swap');
/* font-family: 'Lato', sans-serif; */

/* Style ancien */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster'; */

.menu{
    width: 100%; /* Largeur */
    height: 70px; /* Hauteur */ 
    line-height: 70px; /*hauteur de la boîte d'une ligne */
}

.logo{
    margin: 0; /* marge */
    padding: 0; /* ecart entre les 4 cotés */
    color: #e93e38; /* couleur écriture */
    text-transform: uppercase; /* met tout en majuscule */
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 1px; /*E spacement des lettres */
}

.m-left{
    float: left; /*élément doit être retiré du flux normal et doit être placé sur le côté droit ou sur le côté gauche de son conteneur*/
}

.m-right{
    float: right; /*élément doit être retiré du flux normal et doit être placé sur le côté droit ou sur le côté gauche de son conteneur*/
}

.m-link{
    text-decoration: none; /* Pas de line hypertext */
    color: #e93e38;
    text-transform: uppercase; /* met tout en majuscule */
    font-weight: 500;
    padding: 0%;
    margin: 40px;
    /* durée de l'animation */
    transition : all 0.4s ease-in-out;
}

/* Dis ce qu'il se passe quand la souris passe sur le lien */
.m-link:hover{
	padding-bottom : 3px;
	border-bottom: 2px solid #e93e38 ; 
}

body {
    background-color: #fef9f3 ;
    margin :2px;
    padding : 0;
}

.inner{
    width: 80%; /*Centré par rapport au milieu*/
    margin: auto;
}

contenu{
	/* ¨Permetd'avoir le footer en bas car le contenu prend toute la palce possible */
	flex: 1 0 auto;
	padding-top: 50px;
}